figure.heading{
    background-color: rgb(255, 219, 88);
    color: black;
    text-align: center;
    width: 100%;
    position: relative;
    left: -38px;
}
h2{
    text-align: center;
}
article.aboutusbody{
    text-align: center;
}
p > img{
    border-radius: 10%;
}
table{
    border: rgb(255, 219, 88) 10px inset;
    margin: auto;
}
tr,td{
    border: white 2px solid;
    text-align: center;
    padding: 2px;
    color: white;
    width: 35%,35%;
    height: 70px;
}
/* genral base */
@charset "utf-8";
html,body{
    background-color:black ;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 960px;
    height: 1300px;
    margin: auto;
    padding-bottom: 0%;
}
body > header > h1{
    width: 100%;
    background-image:linear-gradient(rgb(255, 219, 88),rgb(255,255,224));
    padding: 1.5px;
    margin-top: .5px;
}
h1 > a >img#center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
nav > ul{
    list-style-type: none;
    margin: 0% auto;
    padding: 0%; 
    overflow: hidden;
    background-image:linear-gradient(rgb(255, 219, 88),rgb(255,255,224));
}
li{
    display: inline-block;
}
li a{
    color: #000;
    text-align: center;
    padding: 5px;
    margin: auto;
    display: table-cell; 
    width: 35%;
    text-decoration: none;
    position: relative;
}
nav a:link , a:visited{
    color: black;
    text-decoration: none;
}
nav a:hover{
    color: rgb(250, 209, 59);
}
nav a:active{
    background-color: rgb(197, 187, 100);
}
footer{
    background-image:linear-gradient(rgb(255, 219, 88),rgb(255,255,224));
    text-align: center;
    position: relative; 
    height: 30px;
    margin-top: 125px; 
    clear: both; 
    padding-bottom: 2px; 
}      
footer a:link , a:visited{
    color: black;
    text-decoration: none;
}
footer a:hover{
    color: rgb(250, 209, 59);
}
footer a:active{
    background-color: rgb(197, 187, 100); 